<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ content.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.jpg') }}" type="image/x-icon">
 

</head>
<body>
    {% block content_body %}
    {% endblock content_body %}

    <script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>  
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>  
    <script src="{{ url_for('static',filename='js/app_alex.js') }}"></script>  
</body>
</html>